{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blogs/styles/style.css' %}">
    <title>Recursion</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid ">
          <div >
            <a class="navbar-brand" href="#">
                <img src="{% static 'blogs/images/logoInverted.png'%}" alt="" width="45" height="34" class="d-inline-block align-text-top">
            </a>
            <a class="navbar-brand" href="#"><span style="font-weight: 700;">REC</span>ursion</a>
          </div>
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">AskREC</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" href="#">Blog</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">
                    Interview Experiences</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">Events
                </a>
              </li>    
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">Get Started</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">Team</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h2>
        Have something to share?
      </h2>
      <div class="mainDiv">
        <div class="div1 "> 
            <nav class="navbar navbar-light bg-light d-flex justify-content-between">
                <div class="container-fluid">
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                  </form>
                  <button type="button" class="btn btn-outline-primary">Post &nbsp; <i class="far fa-edit"></i></button>
                </div>              
            </nav>     
            <div>
                <div class="content">
                    <div class="image">
                        <img src="{% static 'blogs/images/ashnove_nXVwHjR.png' %}" alt="">
                    </div>
                    <div class="text">
                        <p class="heading">ICPC'21 Experience - That's what C said</p>
                        <div class="details">
                            <div class="details1">
                            <p > Posted by &nbsp; </p>
                            <p class="user"> asnove</p>
                            <p> &nbsp; on &nbsp; </p>
                            <p class="created">Dec. 9, 2022, 6:04 p.m.</p> 
                            </div>
                            <div class="details2">
                                <p>0 comments</p>
                                &nbsp;
                                <p>0 votes</p>
                            </div>
                        </div>  
                        <div class="tags">
                            <a href="http://">ICPC - Experiences</a>
                            <a href="http://">ICPC </a>
                        </div>                     
                    </div>
                </div>      
                <hr>
            </div>
            <div>
                <div class="content">
                    <div class="image">
                        <img src="{% static 'blogs/images/ashnove_nXVwHjR.png' %}" alt="">
                    </div>
                    <div class="text">
                        <p class="heading">ICPC'21 Experience - That's what C said</p>
                        <div class="details">
                            <div class="details1">
                            <p > Posted by &nbsp; </p>
                            <p class="user"> asnove</p>
                            <p> &nbsp; on &nbsp; </p>
                            <p class="created">Dec. 9, 2022, 6:04 p.m.</p> 
                            </div>
                            <div class="details2">
                                <p>0 comments</p>
                                &nbsp;
                                <p>0 votes</p>
                            </div>
                        </div>   
                        <div class="tags">
                            <a href="http://">ICPC - Experiences</a>
                            <a href="http://">ICPC </a>
                        </div>                     
                    </div>
                </div>      
                <hr>
            </div>
            <div>
                <div class="content">
                    <div class="image">
                        <img src="{% static 'blogs/images/ashnove_nXVwHjR.png' %}" alt="">
                    </div>
                    <div class="text">
                        <p class="heading">ICPC'21 Experience - That's what C said</p>
                        <div class="details">
                            <div class="details1">
                            <p > Posted by &nbsp; </p>
                            <p class="user"> asnove</p>
                            <p> &nbsp; on &nbsp; </p>
                            <p class="created">Dec. 9, 2022, 6:04 p.m.</p> 
                            </div>
                            <div class="details2">
                                <p>0 comments</p>
                                &nbsp;
                                <p>0 votes</p>
                            </div>
                        </div>  
                        <div class="tags">
                            <a href="http://">ICPC - Experiences</a>
                            <a href="http://">ICPC </a>
                        </div>                     
                    </div>
                </div>      
                <hr>
            </div>
            <div>
                <div class="content">
                    <div class="image">
                        <img src="{% static 'blogs/images/ashnove_nXVwHjR.png' %}" alt="">
                    </div>
                    <div class="text">
                        <p class="heading">ICPC'21 Experience - That's what C said</p>
                        <div class="details">
                            <div class="details1">
                            <p > Posted by &nbsp; </p>
                            <p class="user"> asnove</p>
                            <p> &nbsp; on &nbsp; </p>
                            <p class="created">Dec. 9, 2022, 6:04 p.m.</p> 
                            </div>
                            <div class="details2">
                                <p>0 comments</p>
                                &nbsp;
                                <p>0 votes</p>
                            </div>
                        </div>  
                        <div class="tags">
                            <a href="http://">ICPC - Experiences</a>
                            <a href="http://">ICPC </a>
                        </div>                     
                    </div>
                </div>      
                <hr>
            </div>
          </div>
          <div class="div2">
            <div class="count">
                <h3>13 posts</h3>
                <h3>3 comments</h3>
            </div>
          </div>
      </div>
</body>
</html>